<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-

    '<style>'
    
    + include(`../style/style.css`)
    
    + '</style>'
    
    %>
    <title>🍔 ***Menu*** 🍔</title>
</head>
<body>      
    <nav>
        <div class="logo">
            <a href="#">Mon Logo</a>
        </div>
        <ul class="menu">
            <li><a href="/acceuil">Accueil</a></li>
            <li><a href="/menu">Nos Burger</a></li>
            <li><a href="/">Commentaire</a></li>
            <li><a href="/message-add">Ajouter un Message</a></li>
            <li><a href="/pageInfo">Contact</a></li>
        </ul>
    </nav>
        <fieldset>
            <% MenuSql.forEach (me=> { %>
            <legend><h1>🍔*** <%= me.Nom %>***🍔</h1></legend>
    
                <ul>
                    <li>
                        
                         <br>
                         <!-- insertion Image Convertie -->
                         <img src='data:images/jpeg;base64, <%= Images %>' alt=""><br> 
                        <!--  -->
                        <%= me.Description%><br>
                        <%= me.BreveDescription %><br>
                        <%= me.Prix %><br> 
                        <%= me.Allergenes %><br>
                        <a href="/menu-details?ID=<%= me.ID%>"><%= me.Nom %><%= me.ID%>"></a> 
                    </li>
                </ul>
                <% })%>

        </fieldset>
    
</body>
</html>